//
// ─── GLOBAL VARIABLES ───────────────────────────────────────────────────────────
//


$globalBorderColor  = black

$globalGutter       = 14px
$globalFont         = 'Noto Sans KR', sans-serif

$pastelPurple       = #6265fe
$pastelPink         = #fe628e
$pastelBlue         = #5C92D7

$midnightBlue       = #2c3e50
$wetAsphalt         = #34495e


$grayLight          = #F5F5F3

$blackText          = RGBA(0, 0, 0, 0.65)  